# Node.js
node_modules/
dist/
.env
.env.local
.vscode/
.cache/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
*.local
*.tsbuildinfo

# IDEs e sistema operacional
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Tailwind e PostCSS
postcss.config.js
postcss.config.cjs
tailwind.config.js
tailwind.config.cjs
tailwind.config.ts

# Optional: imagens e uploads locais (descomente se quiser ignorar mais tarde)
# public/uploads/
# public/mangas/
